*.pyc
*.idx
*.swo
*.swp
bcbio/pipeline/version.py
bcbio_nextgen.egg-info/
build/
docs/_build
dist/
tests/data/test_srnaseq/
tests/unit/bcbio-nextgen-test-data/
tests/data/100326*
tests/data/110106*
tests/data/110221*
tests/data/110907*
tests/data/genomes*
tests/data/tcga_benchmark
tests/test_automated_output/
tests/data/automated/galaxy/
tests/data/automated/*-sorted.bed
tests/data/variants/S1_S2-combined*
tests/data/test_bcbio_cwl-master/
cwl/*-workflow
.DS_Store
.#*
.ropeproject
.env
*~
\#*
.idea/
__pycache__
.coverage
.pytest_cache
