include *.txt
include *.md
include bcbio/data/umis/*.txt.gz
include bcbio/data/umis/*.json
include config/*.yaml
include config/*.ini
include tests/*.py
include tests/data/*.csv
include tests/data/automated/*.yaml
include tests/data/automated/*.ini
include tests/data/automated/tool-data/*.loc
