biopython>=1.61
boto>=2.9.6
Cython>=0.19
ipython>=1.1.0
ipython-cluster-helper>=0.2.16
Logbook>=0.6.0
lxml>=3.2.3
nose>=1.3.0
pysam>=0.7.7
pyzmq>=2.2.0
PyYAML>=3.10
tornado>=3.1.0
# soft dependencies -- not required for bcbio-nextgen-vm
bioblend>=0.4.2
cutadapt>=1.2.1
fabric>=1.7.0
gffutils>=0.8.1
HTSeq >= 0.5.4p5
joblib>=0.7.0d
psutil>=1.2.0
pybedtools>=0.6.2
sh>=1.07
bcbio-nextgen==0.7.8
