psutil==0.6.1
numpy==1.6.2
biopython==1.60
Mako==0.7.3
PyYAML==3.10
sh==1.07
Logbook==0.4.1
Cython==0.17.4
pysam==0.7.4
fabric==1.5.2
pyzmq==2.2.0.1
ipython==0.13.1
bioblend==0.2.1
paramiko==1.9.0
celery==2.2.7
bcbio-nextgen==0.6.0
