# Cancer tumor/normal calling evaluation using synthetic dataset 3
# from the ICGC-TCGA DREAM challenge:
# https://www.synapse.org/#!Synapse:syn312572/wiki/62018
---
details:
- algorithm:
    aligner: bwa
    mark_duplicates: true
    recalibrate: true
    realign: true
    platform: illumina
    quality_format: standard
    variantcaller: [mutect, varscan, freebayes, vardict]
    svcaller: [cn.mops, lumpy, delly]
  analysis: variant2
  description: syn3-normal
  files: ../input/synthetic.challenge.set3.normal.bam
  genome_build: GRCh37
  metadata:
    batch: syn3
    phenotype: normal
- algorithm:
    aligner: bwa
    mark_duplicates: true
    recalibrate: true
    realign: true
    platform: illumina
    quality_format: standard
    variantcaller: [mutect, varscan, freebayes, vardict]
    svcaller: [cn.mops, lumpy, delly]
    validate: ../input/synthetic_challenge_set3_tumor_20pctmasked_truth.vcf.gz
    validate_regions: ../input/synthetic_challenge_set3_tumor_20pctmasked_truth_regions.bed
    svvalidate:
      DEL: ../input/synthetic_challenge_set3_tumor_20pctmasked_truth_sv_DEL.bed
      DUP: ../input/synthetic_challenge_set3_tumor_20pctmasked_truth_sv_DUP.bed
      INS: ../input/synthetic_challenge_set3_tumor_20pctmasked_truth_sv_INS.bed
      INV: ../input/synthetic_challenge_set3_tumor_20pctmasked_truth_sv_INV.bed
  analysis: variant2
  description: syn3-tumor
  files: ../input/synthetic.challenge.set3.tumor.bam
  genome_build: GRCh37
  metadata:
    batch: syn3
    phenotype: tumor
fc_date: '2014-08-13'
fc_name: dream-syn3
upload:
  dir: ../final
