# Configuration comparing alignment methods and variant callers
# for a CEPH NA12878 whole genome trio, using Illumina platinum
# genome inputs and Genome in a Bottle reference calls.
# 
# Compares 4 variant callers: FreeBayes, GATKHaplotype, Platypus, samtools
# Compares 3 calling method: batched concurrently, separate with joint recalling and single sample
# Compares SNAP and bwa aligners
#
# See the bcbio-nextgen documentation for full instructions to
# run this analysis:
# https://bcbio-nextgen.readthedocs.org/en/latest/contents/testing.html#example-pipelines
---
upload:
  dir: ../final
details:
  # bwa, batch calling
  - files: [../input/NA12878_1.fastq.gz, ../input/NA12878_2.fastq.gz]
    description: NA12878-1
    metadata:
      batch: ceph-bwa
      sex: female
    analysis: variant2
    genome_build: GRCh37
    algorithm:
      aligner: bwa
      mark_duplicates: true
      recalibrate: false
      realign: false
      variantcaller: [freebayes, gatk-haplotype, platypus, samtools]
      remove_lcr: true
      validate: giab-NA12878/truth_small_variants.vcf.gz
      validate_regions: giab-NA12878/truth_regions.bed
  - files: [../input/NA12891_1.fastq.gz, ../input/NA12891_2.fastq.gz]
    description: NA12891-1
    metadata:
      batch: ceph-bwa
      sex: male
    analysis: variant2
    genome_build: GRCh37
    algorithm:
      aligner: bwa
      mark_duplicates: true
      recalibrate: false
      realign: false
      variantcaller: [freebayes, gatk-haplotype, platypus, samtools]
  - files: [../input/NA12892_1.fastq.gz, ../input/NA12892_2.fastq.gz]
    description: NA12892-1
    metadata:
      batch: ceph-bwa
      sex: female
    analysis: variant2
    genome_build: GRCh37
    algorithm:
      aligner: bwa
      mark_duplicates: true
      recalibrate: false
      realign: false
      variantcaller: [freebayes, gatk-haplotype, platypus, samtools]
  # bwa, joint calling
  - files: [../input/NA12878_1.fastq.gz, ../input/NA12878_2.fastq.gz]
    description: NA12878-3
    metadata:
      batch: ceph-bwa-j
      sex: female
    analysis: variant2
    genome_build: GRCh37
    algorithm:
      aligner: bwa
      mark_duplicates: true
      recalibrate: false
      realign: false
      variantcaller: [freebayes, gatk-haplotype, platypus, samtools]
      jointcaller: [freebayes-joint, gatk-haplotype-joint, platypus-joint, samtools-joint]
      remove_lcr: true
      validate: giab-NA12878/truth_small_variants.vcf.gz
      validate_regions: giab-NA12878/truth_regions.bed
  - files: [../input/NA12891_1.fastq.gz, ../input/NA12891_2.fastq.gz]
    description: NA12891-3
    metadata:
      batch: ceph-bwa-j
      sex: male
    analysis: variant2
    genome_build: GRCh37
    algorithm:
      aligner: bwa
      mark_duplicates: true
      recalibrate: false
      realign: false
      variantcaller: [freebayes, gatk-haplotype, platypus, samtools]
      jointcaller: [freebayes-joint, gatk-haplotype-joint, platypus-joint, samtools-joint]
  - files: [../input/NA12892_1.fastq.gz, ../input/NA12892_2.fastq.gz]
    description: NA12892-3
    metadata:
      batch: ceph-bwa-j
      sex: female
    analysis: variant2
    genome_build: GRCh37
    algorithm:
      aligner: bwa
      mark_duplicates: true
      recalibrate: false
      realign: false
      variantcaller: [freebayes, gatk-haplotype, platypus, samtools]
      jointcaller: [freebayes-joint, gatk-haplotype-joint, platypus-joint, samtools-joint]
  # bwa, single sample calling
  - files: [../input/NA12878_1.fastq.gz, ../input/NA12878_2.fastq.gz]
    description: NA12878-5
    metadata:
      sex: female
    analysis: variant2
    genome_build: GRCh37
    algorithm:
      aligner: bwa
      mark_duplicates: true
      recalibrate: false
      realign: false
      variantcaller: [freebayes, gatk-haplotype, platypus, samtools]
      remove_lcr: true
      validate: giab-NA12878/truth_small_variants.vcf.gz
      validate_regions: giab-NA12878/truth_regions.bed
#  # snap, batch calling
#  - files: [../input/NA12878_1.fastq.gz, ../input/NA12878_2.fastq.gz]
#    description: NA12878-2
#    metadata:
#      batch: ceph-snap
#      sex: female
#    analysis: variant2
#    genome_build: GRCh37
#    algorithm:
#      aligner: snap
#      mark_duplicates: true
#      recalibrate: false
#      realign: false
#      variantcaller: [freebayes, gatk-haplotype, platypus]
#      remove_lcr: true
#      validate: giab-NA12878/truth_small_variants.vcf.gz
#      validate_regions: giab-NA12878/truth_regions.bed
#  - files: [../input/NA12891_1.fastq.gz, ../input/NA12891_2.fastq.gz]
#    description: NA12891-2
#    metadata:
#      batch: ceph-snap
#      sex: male
#    analysis: variant2
#    genome_build: GRCh37
#    algorithm:
#      aligner: snap
#      mark_duplicates: true
#      recalibrate: false
#      realign: false
#      variantcaller: [freebayes, gatk-haplotype, platypus]
#  - files: [../input/NA12892_1.fastq.gz, ../input/NA12892_2.fastq.gz]
#    description: NA12892-2
#    metadata:
#      batch: ceph-snap
#      sex: female
#    analysis: variant2
#    genome_build: GRCh37
#    algorithm:
#      aligner: snap
#      mark_duplicates: true
#      recalibrate: false
#      realign: false
#      variantcaller: [freebayes, gatk-haplotype, platypus]
#   # snap, joint calling
#   - files: [../input/NA12878_1.fastq.gz, ../input/NA12878_2.fastq.gz]
#     description: NA12878-4
#     metadata:
#       batch: ceph-snap-j
#       sex: female
#     analysis: variant2
#     genome_build: GRCh37
#     algorithm:
#       aligner: snap
#       mark_duplicates: true
#       recalibrate: false
#       realign: false
#       variantcaller: [freebayes, gatk-haplotype, platypus]
#       jointcaller: [freebayes-joint, gatk-haplotype-joint, platypus-joint]
#       remove_lcr: true
#       validate: giab-NA12878/truth_small_variants.vcf.gz
#       validate_regions: giab-NA12878/truth_regions.bed
#   - files: [../input/NA12891_1.fastq.gz, ../input/NA12891_2.fastq.gz]
#     description: NA12891-4
#     metadata:
#       batch: ceph-snap-j
#       sex: male
#     analysis: variant2
#     genome_build: GRCh37
#     algorithm:
#       aligner: snap
#       mark_duplicates: true
#       recalibrate: false
#       realign: false
#       variantcaller: [freebayes, gatk-haplotype, platypus]
#       jointcaller: [freebayes-joint, gatk-haplotype-joint, platypus-joint]
#   - files: [../input/NA12892_1.fastq.gz, ../input/NA12892_2.fastq.gz]
#     description: NA12892-4
#     metadata:
#       batch: ceph-snap-j
#       sex: female
#     analysis: variant2
#     genome_build: GRCh37
#     algorithm:
#       aligner: snap
#       mark_duplicates: true
#       recalibrate: false
#       realign: false
#       variantcaller: [freebayes, gatk-haplotype, platypus]
#       jointcaller: [freebayes-joint, gatk-haplotype-joint, platypus-joint]
#  # snap, single sample calling
#  - files: [../input/NA12878_1.fastq.gz, ../input/NA12878_2.fastq.gz]
#    description: NA12878-6
#    metadata:
#      sex: female
#    analysis: variant2
#    genome_build: GRCh37
#    algorithm:
#      aligner: snap
#      mark_duplicates: true
#      recalibrate: false
#      realign: false
#      variantcaller: [freebayes, gatk-haplotype, platypus]
#      remove_lcr: true
#      validate: giab-NA12878/truth_small_variants.vcf.gz
#      validate_regions: giab-NA12878/truth_regions.bed
