# Template for whole genome Illumina variant calling with GATK pipeline
---
details:
  - analysis: variant2
    genome_build: GRCh37
    # to do multi-sample variant calling, assign samples the same metadata / batch
    # metadata:
    #   batch: your-arbitrary-batch-name
    algorithm:
      aligner: bwa
      recalibrate: gatk
      variantcaller: gatk-haplotype
      # for targetted projects, set the region
      # variant_regions: /path/to/your.bed
